@tailwind base;
@tailwind components;

@font-face {
  font-family: "Gilroy";
  font-weight: 100;
  src: local("Gilroy-Light"), url("../fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 200;
  src: local("Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: local("Gilroy-Heavy"), url("../fonts/Gilroy-Heavy.woff") format("woff");
}

@tailwind utilities;

@layer utilities {
  html {
    scroll-behavior: smooth;
  }

  .gnrl-padding {
    padding-right: 10vw;
    padding-left: 10vw;
  }
}
